<! DOCTYPE html>

<html>

    <head>
        <title>ClusterGarage</title>

        <link rel="stylesheet" type="text/css" href="./assets/css/vendor/bootstrap.min.css">

        <script src="./assets/js/vendor/angular.min.js" type="text/javascript"></script>
        <script src="./assets/js/app.js" type="text/javascript"></script>
    </head>

    <body ng-app="ClusterGarage" ng-controller="mainController">
        <h1> {{showMeSomething()}} </h1>
    </body>

</html>